# Managing Twitter handles

In [1]:
import pandas as pd
import daiquiri
import logging
import sys
import os.path as path
from twitter_scraping.twitter_scraping import TweetsFilter, TwitterScraper

%load_ext autoreload

## Instantiate relevant objects

In [2]:
LOGS_DIR = '../logs/'

daiquiri.setup(
    level=logging.INFO,
    outputs=(
        daiquiri.output.Stream(sys.stdout),
        daiquiri.output.File(
            path.join(LOGS_DIR, 'update_tweets.log'),
            formatter=daiquiri.formatter.TEXT_FORMATTER
        )
    )
)

logger = daiquiri.getLogger(__name__)

In [3]:
twitter_scraper = TwitterScraper(logger)
twitter_scraper.load_tweets()

tweets_filter = TweetsFilter(twitter_scraper.tweets_df)

Get the number of tweets for each handle.

In [4]:
pd.DataFrame(tweets_filter.tweets_df.groupby(by='twitter_handle').size()).reset_index()

      twitter_handle     0
0        888Holdings   132
1                 AA     4
2       AdmiralGroup   684
3            Aggreko     3
4              Amigo     6
5      AngloAmerican  2590
6        Antofagasta  1532
7          Ascential    19
8             Assura     1
9        AstraZeneca  3212
10             Avast   415
11             Aviva   534
12               BHP  1983
13                BP   749
14                BT  2505
15               BTG   331
16     BalfourBeatty  2682
17     BankofGeorgia  2383
18          Barclays   940
19      BeazleyGroup   857
20       BritishLand     1
21           Britvic  1594
22          Burberry  3236
23       CLSHoldings    94
24               CRH  1508
25       CairnEnergy   573
26            Capita     2
27         Cineworld   183
28          Clarkson    18
29            Cobham     2
..               ...   ...
116  SpireHealthcare    20
117          Spirent  3040
118     SportsDirect     7
119  StagecoachGroup  1365
120         Superdry  1463
121        Synthomer     1
122         TUIGroup  2324
123    TalkTalkGroup  1793
124     TaylorWimpey  2710
125         TedBaker   156
126            Tesco    10
127    TravisPerkins    28
128        TullowOil     2
129    UDGHealthcare   196
130  UKGamesWorkshop    40
131         Unilever  2910
132       UniteGroup  1171
133  UnitedUtilities   752
134         Vesuvius  3200
135          Victrex    20
136       VivoEnergy  1479
137    VodafoneGroup  1564
138          WHSmith  2541
139              WPP  3205
140        WeirGroup   776
141        Whitbread     1
142      WilliamHill   807
143          WizzAir   106
144   WorkspaceGroup  2951
145          easyJet    43

[146 rows x 2 columns]

Get the date of each handle's last tweet.

In [5]:
tweets_filter.tweets_df.groupby('twitter_handle')['created_at'].max()

twitter_handle
888Holdings       2011-04-28 13:42:55
AA                2012-05-15 06:13:24
AdmiralGroup      2018-10-19 16:42:41
Aggreko           2014-04-23 07:16:38
Amigo             2016-12-20 01:42:41
AngloAmerican     2018-10-25 14:22:01
Antofagasta       2018-10-17 00:48:12
Ascential         2017-08-07 23:20:29
Assura            2015-06-20 20:15:47
AstraZeneca       2018-10-26 09:59:06
Avast             2018-03-17 15:54:10
Aviva             2018-02-19 00:24:45
BHP               2018-10-26 07:16:24
BP                2017-10-25 18:19:46
BT                2018-10-25 20:07:53
BTG               2018-10-19 15:39:03
BalfourBeatty     2018-10-25 15:48:22
BankofGeorgia     2018-10-25 18:17:16
Barclays          2018-10-25 14:12:38
BeazleyGroup      2018-10-18 12:26:23
BritishLand       2015-12-02 12:36:38
Britvic           2018-10-25 14:18:41
Burberry          2018-10-25 15:00:14
CLSHoldings       2018-09-28 09:58:44
CRH               2018-10-24 14:56:16
CairnEnergy       2018-10-25 11:37:50
Capita            2015-11-03 11:06:01
Cineworld         2018-10-26 10:01:29
Clarkson          2018-05-04 05:06:57
Cobham            2015-01-19 20:38:07
                          ...
SpireHealthcare   2018-10-25 10:03:34
Spirent           2018-10-26 07:10:04
SportsDirect      2014-08-08 15:54:37
StagecoachGroup   2018-10-25 09:17:20
Superdry          2018-10-26 09:23:27
Synthomer         2014-04-20 11:14:17
TUIGroup          2018-10-25 16:04:48
TalkTalkGroup     2018-10-23 12:43:17
TaylorWimpey      2018-10-24 12:00:28
TedBaker          2008-06-14 20:00:16
Tesco             2018-10-26 08:00:00
TravisPerkins     2018-08-17 21:21:04
TullowOil         2011-05-06 09:06:24
UDGHealthcare     2018-10-23 15:33:06
UKGamesWorkshop   2012-03-02 16:46:41
Unilever          2018-10-25 16:56:25
UniteGroup        2018-10-15 14:30:06
UnitedUtilities   2018-10-26 09:44:34
Vesuvius          2014-09-01 08:10:02
Victrex           2018-02-01 09:09:10
VivoEnergy        2018-10-25 11:20:11
VodafoneGroup     2018-10-26 09:37:47
WHSmith           2018-10-26 06:25:06
WPP               2018-10-26 09:22:39
WeirGroup         2018-10-26 03:03:04
Whitbread         2008-04-28 19:56:47
WilliamHill       2018-10-26 09:05:26
WizzAir           2018-10-25 08:00:00
WorkspaceGroup    2018-10-25 15:02:21
easyJet           2018-10-25 07:56:40
Name: created_at, Length: 146, dtype: datetime64[ns]

Generate a combined dataframe with twitter handle, number of tweets and datetime for the lates tweet.

In [6]:
handles_summary_df = pd.concat(
    [tweets_filter.tweets_df.groupby(by='twitter_handle').size(),
    tweets_filter.tweets_df.groupby('twitter_handle')['created_at'].max()],
    axis=1
).reset_index().rename({0: 'n_tweets'}, axis=1)

handles_summary_df

      twitter_handle  n_tweets          created_at
0        888Holdings       132 2011-04-28 13:42:55
1                 AA         4 2012-05-15 06:13:24
2       AdmiralGroup       684 2018-10-19 16:42:41
3            Aggreko         3 2014-04-23 07:16:38
4              Amigo         6 2016-12-20 01:42:41
5      AngloAmerican      2590 2018-10-25 14:22:01
6        Antofagasta      1532 2018-10-17 00:48:12
7          Ascential        19 2017-08-07 23:20:29
8             Assura         1 2015-06-20 20:15:47
9        AstraZeneca      3212 2018-10-26 09:59:06
10             Avast       415 2018-03-17 15:54:10
11             Aviva       534 2018-02-19 00:24:45
12               BHP      1983 2018-10-26 07:16:24
13                BP       749 2017-10-25 18:19:46
14                BT      2505 2018-10-25 20:07:53
15               BTG       331 2018-10-19 15:39:03
16     BalfourBeatty      2682 2018-10-25 15:48:22
17     BankofGeorgia      2383 2018-10-25 18:17:16
18          Barclays       940 2018-10-25 14:12:38
19      BeazleyGroup       857 2018-10-18 12:26:23
20       BritishLand         1 2015-12-02 12:36:38
21           Britvic      1594 2018-10-25 14:18:41
22          Burberry      3236 2018-10-25 15:00:14
23       CLSHoldings        94 2018-09-28 09:58:44
24               CRH      1508 2018-10-24 14:56:16
25       CairnEnergy       573 2018-10-25 11:37:50
26            Capita         2 2015-11-03 11:06:01
27         Cineworld       183 2018-10-26 10:01:29
28          Clarkson        18 2018-05-04 05:06:57
29            Cobham         2 2015-01-19 20:38:07
..               ...       ...                 ...
116  SpireHealthcare        20 2018-10-25 10:03:34
117          Spirent      3040 2018-10-26 07:10:04
118     SportsDirect         7 2014-08-08 15:54:37
119  StagecoachGroup      1365 2018-10-25 09:17:20
120         Superdry      1463 2018-10-26 09:23:27
121        Synthomer         1 2014-04-20 11:14:17
122         TUIGroup      2324 2018-10-25 16:04:48
123    TalkTalkGroup      1793 2018-10-23 12:43:17
124     TaylorWimpey      2710 2018-10-24 12:00:28
125         TedBaker       156 2008-06-14 20:00:16
126            Tesco        10 2018-10-26 08:00:00
127    TravisPerkins        28 2018-08-17 21:21:04
128        TullowOil         2 2011-05-06 09:06:24
129    UDGHealthcare       196 2018-10-23 15:33:06
130  UKGamesWorkshop        40 2012-03-02 16:46:41
131         Unilever      2910 2018-10-25 16:56:25
132       UniteGroup      1171 2018-10-15 14:30:06
133  UnitedUtilities       752 2018-10-26 09:44:34
134         Vesuvius      3200 2014-09-01 08:10:02
135          Victrex        20 2018-02-01 09:09:10
136       VivoEnergy      1479 2018-10-25 11:20:11
137    VodafoneGroup      1564 2018-10-26 09:37:47
138          WHSmith      2541 2018-10-26 06:25:06
139              WPP      3205 2018-10-26 09:22:39
140        WeirGroup       776 2018-10-26 03:03:04
141        Whitbread         1 2008-04-28 19:56:47
142      WilliamHill       807 2018-10-26 09:05:26
143          WizzAir       106 2018-10-25 08:00:00
144   WorkspaceGroup      2951 2018-10-25 15:02:21
145          easyJet        43 2018-10-25 07:56:40

[146 rows x 3 columns]

## Test the function in the module

In [7]:
%autoreload 2

from app_components.app_components import generate_handles_summary

In [8]:
generate_handles_summary(tweets_filter.tweets_df)

      twitter_handle  n_tweets          created_at
0        888Holdings       132 2011-04-28 13:42:55
1                 AA         4 2012-05-15 06:13:24
2       AdmiralGroup       684 2018-10-19 16:42:41
3            Aggreko         3 2014-04-23 07:16:38
4              Amigo         6 2016-12-20 01:42:41
5      AngloAmerican      2590 2018-10-25 14:22:01
6        Antofagasta      1532 2018-10-17 00:48:12
7          Ascential        19 2017-08-07 23:20:29
8             Assura         1 2015-06-20 20:15:47
9        AstraZeneca      3212 2018-10-26 09:59:06
10             Avast       415 2018-03-17 15:54:10
11             Aviva       534 2018-02-19 00:24:45
12               BHP      1983 2018-10-26 07:16:24
13                BP       749 2017-10-25 18:19:46
14                BT      2505 2018-10-25 20:07:53
15               BTG       331 2018-10-19 15:39:03
16     BalfourBeatty      2682 2018-10-25 15:48:22
17     BankofGeorgia      2383 2018-10-25 18:17:16
18          Barclays       940 2018-10-25 14:12:38
19      BeazleyGroup       857 2018-10-18 12:26:23
20       BritishLand         1 2015-12-02 12:36:38
21           Britvic      1594 2018-10-25 14:18:41
22          Burberry      3236 2018-10-25 15:00:14
23       CLSHoldings        94 2018-09-28 09:58:44
24               CRH      1508 2018-10-24 14:56:16
25       CairnEnergy       573 2018-10-25 11:37:50
26            Capita         2 2015-11-03 11:06:01
27         Cineworld       183 2018-10-26 10:01:29
28          Clarkson        18 2018-05-04 05:06:57
29            Cobham         2 2015-01-19 20:38:07
..               ...       ...                 ...
116  SpireHealthcare        20 2018-10-25 10:03:34
117          Spirent      3040 2018-10-26 07:10:04
118     SportsDirect         7 2014-08-08 15:54:37
119  StagecoachGroup      1365 2018-10-25 09:17:20
120         Superdry      1463 2018-10-26 09:23:27
121        Synthomer         1 2014-04-20 11:14:17
122         TUIGroup      2324 2018-10-25 16:04:48
123    TalkTalkGroup      1793 2018-10-23 12:43:17
124     TaylorWimpey      2710 2018-10-24 12:00:28
125         TedBaker       156 2008-06-14 20:00:16
126            Tesco        10 2018-10-26 08:00:00
127    TravisPerkins        28 2018-08-17 21:21:04
128        TullowOil         2 2011-05-06 09:06:24
129    UDGHealthcare       196 2018-10-23 15:33:06
130  UKGamesWorkshop        40 2012-03-02 16:46:41
131         Unilever      2910 2018-10-25 16:56:25
132       UniteGroup      1171 2018-10-15 14:30:06
133  UnitedUtilities       752 2018-10-26 09:44:34
134         Vesuvius      3200 2014-09-01 08:10:02
135          Victrex        20 2018-02-01 09:09:10
136       VivoEnergy      1479 2018-10-25 11:20:11
137    VodafoneGroup      1564 2018-10-26 09:37:47
138          WHSmith      2541 2018-10-26 06:25:06
139              WPP      3205 2018-10-26 09:22:39
140        WeirGroup       776 2018-10-26 03:03:04
141        Whitbread         1 2008-04-28 19:56:47
142      WilliamHill       807 2018-10-26 09:05:26
143          WizzAir       106 2018-10-25 08:00:00
144   WorkspaceGroup      2951 2018-10-25 15:02:21
145          easyJet        43 2018-10-25 07:56:40

[146 rows x 3 columns]